<div id="<%= comp.id %>"
     class="v-plugin v-timer"
     data-plugin-callback="Timer"
     data-end-time="<%= comp.end_time %>"
     data-expired-message="<%= comp.expired_message %>"
     data-redirect-url="<%= h comp.redirect_url %>"
     data-redirect-params="<%= h comp.redirect_params.to_json %>"
     data-delete-url="<%= h comp.delete_url %>"
     data-delete-params="<%= h comp.delete_params.to_json %>"
     data-color="<%= comp.safe_color %>"
     data-warn-color="<%= comp.warn_color %>">
  <%= partial("components/icon", :locals => {comp: comp.icon, class_name: 'mdc-chip__icon mdc-chip__icon--leading' }) if comp.icon %>
  <span class="time-display" <% if comp.icon %>style="padding-left: 5px;"<% end %>></span>
  <%= partial "components/tooltip", :locals => {comp: comp.tooltip, parent_id: comp.id} %>
</div>
