<div id="<%= comp.id %>"
     class="v-plugin v-timer"
     data-plugin-callback='Timer'
     data-end-time="<%= comp.end_time %>"
     data-expired-message="<%= comp.expired_message %>"
     data-redirect-url="<%= URI.encode(comp.redirect_url) %>"
     data-redirect-params=<%= URI.encode(comp.redirect_params.to_json) %>
     data-delete-url="<%= URI.encode(comp.delete_url) %>"
     data-delete-params=<%= URI.encode(comp.delete_params.to_json) %>>
  <span class="time-display"></span>
</div>